---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import WhatsApp from '../components/WhatsApp.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Estudio Ballena Blanca | Mezclas y masterización ONLINE">
	<main>
		<div class="h-screen flex flex-col">
			<Nav />
			<WhatsApp />
			<section class="relative grow grid place-content-center container mx-auto px-4 lg:px-8">
				<div class="hero | blur-sm lg:blur-xl absolute bottom-1/2 left-1/2 h-0 w-10/12 -translate-x-1/2 translate-y-1/2 bg-[url('/estudio-ballena-blanca/bg-hero.jpg')] bg-[size:150%] bg-center bg-no-repeat"></div>
				<div class="hero | opacity-50 absolute bottom-1/2 left-1/2 h-0 w-10/12 -translate-x-1/2 translate-y-1/2 bg-[url('/estudio-ballena-blanca/bg-hero.jpg')] bg-[size:150%] bg-center bg-no-repeat"></div>

				<h1 class="hero-text | invisible leading-[110%] relative z-10 text-center text-[12vw] md:text-6xl font-semibold shadow-2xl lg:text-8xl uppercase">Llevamos tu <br> música a un <br> <span class="bg-gradient-to-b from-primary-200 to-primary-300 text-transparent bg-clip-text">nuevo nivel</span></h1>

			</section>
		</div>

		<section id="servicios" class="bg-neutral-900">
			<div class="container mx-auto px-4 lg:px-8 py-32 flex flex-col items-center">
				<h2 class="font-bold text-neutral-200 text-6xl lg:text-7xl text-center">Servicios</h2>

				<p class="text-neutral-400 mt-8 px-4 text-sm lg:text-base md:text-center max-w-3xl">Ofrecemos servicios profesionales de mezcla de audio, masterización y producción musical. Nos enfocamos en transformar tus composiciones en piezas de alta calidad, cumpliendo con los estándares más altos de la industria musical.</p>

				<div class="grid lg:grid-cols-2 gap-8 mt-12">

					<div class="bg-[rgb(33,33,33)] border border-[rgb(40,40,40)] shadow rounded-2xl p-6">
						<div class="flex items-center gap-4">
							<div class="w-10 shrink-0 aspect-square rounded-xl grid place-content-center text-primary-200 bg-primary-200/10">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
								</svg>
							</div>
							<h3 class="font-semibold text-2xl text-neutral-200">Mezcla de audio</h3>
						</div>

						<p class="text-neutral-400 mt-4 text-sm lg:text-base">Envía las pistas que hayas grabado en casa o en un estudio, y nosotros nos encargaremos de aplicar todos los procesos necesarios para que suenen al nivel competitivo del estándar de la industria. Esta etapa es altamente artística, es por eso muy importante mantener un intercambio constante con los artistas para asegurarnos de que tu canción llegue a donde quieres que esté.</p>
					</div>

					<div class="bg-[rgb(33,33,33)] border border-[rgb(40,40,40)] shadow rounded-2xl p-6">
						<div class="flex items-center gap-4">
							<div class="w-10 shrink-0 aspect-square rounded-xl grid place-content-center text-primary-200 bg-primary-200/10">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-disc-3"><circle cx="12" cy="12" r="10"/><path d="M6 12c0-1.7.7-3.2 1.8-4.2"/><circle cx="12" cy="12" r="2"/><path d="M18 12c0 1.7-.7 3.2-1.8 4.2"/></svg>
							</div>
							<h3 class="font-semibold text-2xl text-neutral-200">Mastering</h3>
						</div>

						<p class="text-neutral-400 mt-4 text-sm lg:text-base">Después de completar una correcta mezcla, es importante asegurarse de que el audio de la canción esté en los niveles competitivos de la industria musical. Equilibrar y optimizar el audio para garantizar su compatibilidad con todos los sistemas y formatos de reproducción, asegurando una calidad impecable en cada plataforma.</p>
					</div>

					<div class="bg-[rgb(33,33,33)] border border-[rgb(40,40,40)] shadow rounded-2xl p-6">
						<div class="flex items-center gap-4">
							<div class="w-10 shrink-0 aspect-square rounded-xl grid place-content-center text-primary-200 bg-primary-200/10">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z" />
								</svg>
							</div>
							<h3 class="font-semibold text-2xl text-neutral-200">Producción musical</h3>
						</div>

						<p class="text-neutral-400 mt-4 text-sm lg:text-base">Puedes confiar en nosotros para todos los procesos de preproducción. Ya sea que tengas una idea o una pieza sonora inicial, trabajamos en las partes, arreglos y armonización, así como en el diseño sonoro, para poder empezar la etapa de grabación, mezcla y masterización con toda seguridad y fluidez. Te acompañamos desde el concepto hasta la finalización del proyecto, asegurándonos de que tu visión se materialice plenamente.</p>
					</div>

					<div class="bg-[rgb(33,33,33)] border border-[rgb(40,40,40)] shadow rounded-2xl p-6">
						<div class="flex items-center gap-4">
							<div class="w-10 shrink-0 aspect-square rounded-xl grid place-content-center text-primary-200 bg-primary-200/10">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
								</svg>
							</div>
							<h3 class="font-semibold text-2xl text-neutral-200">Catálogo de músicos de sesión</h3>
						</div>

						<p class="text-neutral-400 mt-4 text-sm lg:text-base">Si eres músico solista o quieres agregar pistas con instrumentos reales grabados, contamos con una lista de músicos de sesión de primer nivel a tu disposición. Estos profesionales pueden enriquecer tus proyectos con su talento y experiencia, aportando un toque auténtico y profesional a tus grabaciones.</p>
					</div>
				</div>
			</div>

		</section>

		<section id="trabajos">
			<div class="container mx-auto px-4 lg:px-8 py-32">
				<h2 class="font-bold text-neutral-200 text-6xl lg:text-7xl text-center">Nuestros Trabajos</h2>

				<div class="flex flex-col max-w-2xl mx-auto gap-16 mt-16">

					<iframe title="Singles - Ballena Blanca" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5OmrAiuMMu4lfS4E8Ps5Ij?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

					<iframe title="Coda - Ballena Blanca" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6N1uj2I3e0I17AwrDPMDtx?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

					<iframe title="Trabajos con terceros" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5a1LMEKopIgNImLmYyOYvw?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

				</div>
			</div>
		</section>

		<div class="bg-neutral-900">
			<div class="container mx-auto px-4 lg:px-8">
				<section class="py-32 flex flex-col items-center" id="contacto">

					<h2 class="font-bold text-neutral-200 text-6xl lg:text-7xl text-center">Contacto</h2>
					<p class="text-neutral-400 mt-8 px-4 text-sm lg:text-base md:text-center max-w-xl">Para cualquier tipo de consulta puede contactarse con nosotros por los siguientes medios:</p>

					<div class="mt-12 flex flex-col gap-8 items-center">

						<a href="mailto:planballenablanca@gmail.com">
							<div class="group flex items-center text-lg lg:text-4xl overflow-hidden font-bold rounded-full border border-secondary-400">
								<div class="px-3 bg-secondary-300 h-12 lg:h-16 grid place-content-center">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-8 lg:size-10 text-black">
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25" />
									</svg>
								</div>
								<div class="relative h-12 lg:h-16">
									<div class="text-secondary-300 py-3 px-6 whitespace-nowrap grid place-content-center">planballenablanca@gmail.com</div>
									<div aria-hidden="true" class="absolute transition-all duration-500 w-0 py-3 group-hover:w-full h-full inset-0 bg-secondary-300 text-black overflow-hidden">
										<p class="px-6 whitespace-nowrap">planballenablanca@gmail.com</p>
									</div>
								</div>
							</div>
						</a>

						<a href="https://wa.me/5493764934171" target="_blank" rel="noopener noreferrer">
							<div class="group flex items-center text-lg lg:text-4xl overflow-hidden font-bold rounded-full border border-[#25D366]">
								<div class="bg-[#25D366] px-4 h-12 lg:h-16 grid place-content-center">
									<svg xmlns="http://www.w3.org/2000/svg" class="size-8" viewBox="0 0 24 24"><path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"/></svg>
								</div>
								<div class="relative h-12 lg:h-16 grow">
									<div class="text-[#25D366] py-3 px-6">+54 9 3764 93-4171</div>
									<div aria-hidden="true" class="absolute whitespace-nowrap transition-all duration-500 w-0 py-3 group-hover:w-full h-full inset-0 bg-[#25D366] text-black overflow-hidden">
										<p class="px-6 whitespace-nowrap">+54 9 3764 93-4171</p>
									</div>
								</div>
							</div>
						</a>

					</div>
				</section>
				<Footer />
			</div>
		</div>
	</main>
</Layout>

<script>
	import { gsap } from 'gsap';

	const isInstagram = navigator.userAgent.includes('Instagram');
	if (isInstagram) {
		const heroText =document.querySelector('.hero-text')
		heroText.classList.add('hero-text')
	}

	let tl = gsap.timeline({
        defaults: { duration: 1.3, ease: 'power3.inOut' },
      });

      tl.to('.hero', {
        height: '500px',
        backgroundSize: '100%',
        duration: 1.5,
        ease: 'power4.inOut',
      })
        .to(
          '.hero',
          {
            height: '200px',
            borderRadius: '32px',
            y: '0',
          },
          1.5
        )
        .from(
          '.hero-text',
          {
            y: '75vh',
						autoAlpha: 0,
          },
          1.5
        )
        .from(
          '.hide',
          {
            autoAlpha: 0,
          },
          1.5
        )
</script>

<style>
	.fixed-height {
			overflow: hidden;
			height: 100vh;
		}

	.hero-text {
		font-size: 10vw;
	}
</style>