---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Estudio Ballena Blanca | Mezclas y masterización ONLINE">
	<main class="container mx-auto px-4 relative">
		<section class="relative h-screen">
			<div class="absolute top-10 left-1/2 h-[250px] rounded-[32px] w-10/12 -translate-x-1/2 bg-[url('./bg-hero.jpg')] bg-[size:100%] bg-center bg-no-repeat"></div>
		</section>
	</main>
</Layout>