<footer class="relative px-4 lg:px-8 py-6 flex items-center justify-between">
	<div class="absolute h-[1px] bg-gradient-to-r from-black via-neutral-500 to-black top-0 left-0 right-0"></div>
	<p class="text-neutral-50 text-sm text-center lg:text-left grow">Estudio Ballena Blanca © 2024</p>

	<ul class="hidden text-sm lg:flex text-neutral-400">
		<li><a class="px-5 py-2 hover:text-white duration-500" href="#servicios">Servicios</a></li>
		<li><a class="px-5 py-2 hover:text-white duration-500" href="#trabajos">Nuestros Trabajos</a></li>
		<li><a class="px-5 py-2 hover:text-white duration-500" href="#contacto">Contacto</a></li>
	</ul>
</footer>