---
import Logo from '../assets/logo.jpg'
---

<nav class="hide | invisible absolute z-40 w-full left-0 top-0 right-0 flex justify-between items-center container mx-auto px-4 lg:px-8 ---py-6 py-3">
		<a class="flex items-center ---gap-3" href="/">
			<img class="w-16 aspect-square" src={Logo.src} alt="">
			<div>
				<div class="title |  text-[5vw] md:text-xl font-semibold">Estudio Ballena Blanca</div>
				<div class="subtitle | text-[3vw] uppercase md:text-xs tracking-wider text-primary-100">Mezclas y masterización ONLINE</div>
			</div>
		</a>

		<ul class="hidden lg:flex text-neutral-400">
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#servicios">Servicios</a></li>
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#trabajos">Nuestros Trabajos</a></li>
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#contacto">Contacto</a></li>
		</ul>

		<ul class="mobile-menu closed | fixed inset-0 flex text-4xl bg-black/75 backdrop-blur-md font-bold gap-6 -z-10 flex-col items-center justify-center lg:hidden text-neutral-400">
			<li><a class="nav-link | px-5 py-2 hover:text-white duration-500 text-center block" href="#servicios">Servicios</a></li>
			<li><a class="nav-link | px-5 py-2 hover:text-white duration-500 text-center block" href="#trabajos">Nuestros Trabajos</a></li>
			<li><a class="nav-link | px-5 py-2 hover:text-white duration-500 text-center block" href="#contacto">Contacto</a></li>
		</ul>

		<button class="hamburger | lg:hidden p-2 border border-neutral-700 rounded-lg" aria-label="Abrir Menú">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white/70">
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
			</svg>
		</button>

		<div class="absolute h-[1px] bg-gradient-to-r from-black via-neutral-500 to-black bottom-0 left-0 right-0"></div>
	</nav>

	<style>
		.closed {
			display: none;
		}

		.instagram-title {
			font-size: 4vw;
		}

		.instagram-subtitle {
			font-size: 2.5vw;
		}
	</style>

	<script>
		const isInstagram = navigator.userAgent.includes('Instagram');

		if (isInstagram) {
			const title =document.querySelector('.title')
			title.classList.add('instagram-title')

			const subtitle =document.querySelector('.subtitle')
			subtitle.classList.add('instagram-subtitle')
		}

		document.querySelector('.hamburger').addEventListener('click', () => {
			document.querySelector('.mobile-menu').classList.toggle('closed');
			document.querySelector('main').classList.toggle('fixed-height');

		})

		document.querySelectorAll('.nav-link').forEach(link => link.addEventListener('click', () => {
			document.querySelector('.mobile-menu').classList.add('closed')
			document.querySelector('main').classList.remove('fixed-height')
		}))
	</script>