	<nav class="relative flex justify-between items-center container mx-auto px-4 lg:px-8 py-6">
		<a class="flex items-center gap-3" href="/">
			<div class="w-10 aspect-square rounded-full bg-primary-200"></div>
			<div>
				<div class="text-xl font-semibold">Estudio Ballena Blanca</div>
				<div class="uppercase text-xs tracking-wider text-primary-100">Mezclas y masterización ONLINE</div>
			</div>
		</a>

		<ul class="hidden lg:flex text-neutral-400">
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#">Inicio</a></li>
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#servicios">Servicios</a></li>
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#trabajos">Nuestros Trabajos</a></li>
			<li><a class="px-5 py-2 hover:text-white duration-500" href="#contacto">Contacto</a></li>
		</ul>

		<div class="absolute h-[1px] bg-gradient-to-r from-black via-neutral-500 to-black bottom-0 left-0 right-0"></div>
	</nav>