---
import WhatsAppIcon from '../assets/WhatsApp.svg'
---
<a href="https://wa.me/5493764934171" target="_blank" rel="noopener noreferrer" class="hide | block invisible fixed z-20 bottom-4 lg:bottom-8 right-4 lg:right-8">
	<img class="w-12" src={WhatsAppIcon.src} alt="WhatsApp" />
</a>