---
import WhatsAppIcon from '../assets/WhatsApp.svg'
---
<button class="hide | fixed z-20 bottom-4 lg:bottom-8 right-4 lg:right-8">
	<img class="w-12" src={WhatsAppIcon.src} alt="WhatsApp" />
</button>